# WEEK 3

- String
- List
- Tuple
- Dictionaries

# Strings

String is a collection of alphabets, words or other characters. It is one of the primitive data structures and are the building blocks for data manipulation.

In [170]:
name = "Sasha"
place = 'London'

In [171]:
name

'Sasha'

In [3]:
place

'London'

In [4]:
print("Name is " + name, "Place is " + place)

Name is Sasha Place is London

In [169]:
name = "SHAHA23"
name

'SHAHA23'

Python Arithmetic Operators

In [6]:
color = "Black" * 3

In [7]:
color

'BlackBlackBlack'

In [8]:
len(color)

15

String Indexing and Slicing

Indexing: To retrieve an element of the list.

Slicing: A slice is a subset of list elements.
    
string[start : end]

In [105]:
text = "This is the string"

In [10]:
text[0]

'T'

In [11]:
text[2]

'i'

In [16]:
text[-1]

'g'

In [18]:
text[:4]

'This'

In [19]:
text[1:4]

'his'

In [20]:
text[5:]

'is the string'

In [21]:
print(text[:4] + text[4:])

This is the string

In [24]:
text[5:7]

'is'

In [27]:
text[-6]

's'

In Python, strings are immutable. This means that they can't be modified. So if we wanted to fix a typo in a string, we can't simply modify the wrong character. We would have to create a new string with the typo corrected. We can also assign a new value to the variable holding our string.

In [29]:
change_ch = "thrs is the wrong string"

In [30]:
change_ch[2]

'r'

In [31]:
change_ch[0:2] + "i" + change_ch[3:]

'this is the wrong string'

String Methods

In [34]:
word = "asxahjsbhajxbsxgewe"
word.index("x")

2

In [35]:
name = 'richard'
name.upper()

'RICHARD'

In [36]:
name.lower()

'richard'

In [40]:
name = " richard "
name.strip()

'richard'

In [41]:
name.rstrip()

' richard'

In [42]:
name.lstrip()

'richard '

In [65]:
text = "this is the string"
text.count("s")

3

In [66]:
text.endswith("string")

True

In [81]:
text = "h"

In [82]:
text.isalpha()

True

In [75]:
text.isnumeric()

False

In [52]:
num = "13467"
num.isnumeric()

True

In [53]:
text.split()

['this', 'is', 'the', 'string']

In [54]:
" ".join(['this', 'is', 'the', 'string'])

'this is the string'

In [55]:
"...".join(['this', 'is', 'the', 'string'])

'this...is...the...string'

String Formatting

In [56]:
name = 'john'
number = len(name) * 3

In [57]:
print('This is your name: {}, and this is your lucky number: {}'.format(name, number))

This is your name: john, and this is your lucky number: 12

Write a function that can show the name and grade of students with fllowing format: Reed received 80% on the exam

In [58]:
def student_grade(name, grade):
    return "{} received {}% on the exam.".format(name, grade)

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

Reed received 80% on the exam.
Paige received 92% on the exam.
Jesse received 85% on the exam.

In [59]:
price = 8.1
with_tax = price * 1.09

In [60]:
print("base price is: {}, with the tax is : {}".format(price, with_tax))

base price is: 8.1, with the tax is : 8.829

This code defines a function called mirrored_string, which takes a string (my_string) as input and checks whether the string reads the same both forwards and backwards, ignoring non-letter characters and considering the case of the letters. It implements a simple palindrome check with letters only.

In [85]:
def mirrored_string(my_string):
    forwards = ""
    backwards = ""
    
    for character in my_string:
        if character.isalpha():
            forwards = forwards + character
            backwards = character + backwards
            
    if forwards.lower() == backwards.lower():
        return True
    return False
    
print(mirrored_string("12 Noon")) # Should be True
print(mirrored_string("Was it a car or cat I saw")) # Should be False
print(mirrored_string("eve, Madam Eve")) # Should be True

True
False
True

In [89]:
# This function converts measurement equivalents. Output is formatted 
# as, "x ounces equals y pounds", with y limited to 2 decimal places. 
def convert_weight(ounces):

    # Conversion formula: 1 pound = 16 ounces
    pounds = ounces / 16
    result = "{} ounces equals {:.2f} pounds".format(ounces, pounds)
    return result
    # The result is composed using the .format() method. There are two
    # placeholders in the string: the first is for the "ounces" 
    # variable and the second is for the "pounds" variable. The second
    # placeholder formats the float result of the conversion 
    # calculation to be limited to 2 decimal places.

print(convert_weight(12)) # Should be: 12 ounces equals 0.75 pounds
print(convert_weight(50.5)) # Should be: 50.5 ounces equals 3.16 pounds
print(convert_weight(16)) # Should be: 16 ounces equals 1.00 pounds

12 ounces equals 0.75 pounds
50.5 ounces equals 3.16 pounds
16 ounces equals 1.00 pounds

In [90]:
def username(last_name, birth_year):
    return "{}{}".format(last_name[0:3], birth_year)

print(username("Ivanov", "1985"))
# Should display "Iva1985" 
print(username("Rodríguez", "2000"))
# Should display "Rod2000" 
print(username("Deng", "1991")) 
# Should display "Den1991"

Iva1985
Rod2000
Den1991

In [98]:
p = len("2023")
s = "Last year’s annual report will be released in March 2023"

In [110]:
def replace_date(schedule, old_date, new_date):
    
    if schedule.endswith(old_date):
        p = len(old_date)
        return schedule[:-p] + schedule[-p:].replace(old_date, new_date)
    return schedule

print(replace_date("Last year’s annual report will be released in March 2023", "2023", "2024")) 
# Should display "Last year’s annual report will be released in March 2024"
print(replace_date("In April, the CEO will hold a conference", "April", "May")) 
# Should display "In April, the CEO will hold a conference"
print(replace_date("The convention is scheduled for October", "October", "June")) 
# Should display "The convention is scheduled for June"

Last year’s annual report will be released in March 2024
In April, the CEO will hold a conference
The convention is scheduled for June

- The function first checks if the old_date appears at the end of the schedule string using the endswith method.

- If the old_date is found at the end of the schedule string:

- The variable p is set to the length of the old_date. This is done to know how many characters to remove from the end of the schedule string to get rid of the old_date.

- The new_schedule string is created by taking the portion of the original schedule string from the beginning up to (but not including) the last p characters, and then appending the new_date to it. This effectively removes the old_date from the end and replaces it with the new_date.

- The function then returns the updated new_schedule if the old_date was found and replaced, or it returns the original schedule if the old_date was not found at the end.

Write a Python function called reverse_string that takes a string as input and returns the reverse of that string. The function should reverse the order of characters in the string and return the result.

In [ ]:


# Test cases
print(reverse_string("hello"))    # Output: "olleh"
print(reverse_string("python"))   # Output: "nohtyp"
print(reverse_string("racecar"))  # Output: "racecar"

rite a Python function called remove_duplicates that takes a string as input and returns a new string with all duplicate characters removed. The order of the characters should be preserved.

For example:

- Input: "programming"

- Output: "progamin"

In [ ]:

# Test cases
print(remove_duplicates("programming"))    # Output: "progamin"
print(remove_duplicates("abracadabra"))    # Output: "abrcd"
print(remove_duplicates("hello"))         # Output: "helo"

# List

Lists in Python are defined using square brackets, with the elements stored in the list separated by commas. In Python, lists and strings are quite similar. They’re both examples of sequences of data. Sequences have similar properties, like (1) being able to iterate over them using for loops; (2) support indexing; (3) using the len function to find the length of the sequence; (4) using the plus operator + in order to concatenate; and (5) using the in keyword to check if the sequence contains a value.

In [112]:
x = ['hello', 'word']
x

['hello', 'word']

In [113]:
type(x)

list

In [114]:
len(x)

2

In [115]:
'hello' in x

True

In [116]:
y = "this is a sentence"

In [117]:
l = y.split()

In [120]:
l

['this', 'is', 'a', 'sentence']

In [121]:
l[0]

'this'

In [127]:
a = "This is a lesson about lists"
a.split()

['This', 'is', 'a', 'lesson', 'about', 'lists']

In [132]:
b = "now we are cooking!"
l = b.split()

In [134]:
l[0]

'now'

In [125]:
b = a.split()
b[3]

'lesson'

write a function call get_word that takes a sentence and an integer n as input and aims to return the nth word from the sentence.

In [126]:
def get_word(sentence, n):
    if n > 0:
        words = sentence.split()
        if n <= len(words):
            return(words[n-1])
    return ""
print(get_word("This is a lesson about lists", 4)) # Should print: lesson
print(get_word("This is a lesson about lists", -4)) # Nothing
print(get_word("Now we are cooking!", 1)) # Should print: Now
print(get_word("Now we are cooking!", 5)) # Nothing

lesson

Now

While lists and strings are both sequences, a big difference between them is that lists are mutable. This means that the contents of the list can be changed, unlike strings, which are immutable. You can add, remove, or modify elements in a list.

You can add elements to the end of a list using the append method.

In [178]:
fruit = ['banana', 'apple']

In [180]:
fruit.append('kiwi')

In [181]:
fruit

['banana', 'apple', 'kiwi']

If you want to add an element to a list in a specific position, you can use the method insert. The method takes two parameters: the first specifies the index in the list, and the second is the element to be added to the list.

In [149]:
fruit.insert(1, 'orange')

You can remove elements from the list using the remove method. This method takes an element as a parameter, and removes the first occurrence of the element

In [140]:
fruit.remove('kiwi')

In [141]:
fruit

['orange', 'banana', 'apple']

You can also remove elements from a list using the pop method. This method differs from the remove method in that it takes an index as a parameter, and returns the element that was removed.

In [153]:
fruit.pop(0)

'banana'

In [143]:
fruit

['banana', 'apple']

In [144]:
fruit[0] = "melon"

In [145]:
fruit

['melon', 'apple']

Write a Python function called find_even_numbers that takes a list of integers as input and returns a new list containing only the even numbers from the input list.

For example:

- Input: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- Output: [2, 4, 6, 8, 10]

In [ ]:


# Test cases
print(find_even_numbers([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])) # Output: [2, 4, 6, 8, 10]
print(find_even_numbers([11, 22, 33, 44, 55, 66, 77, 88, 99])) # Output: [22, 44, 66, 88]
print(find_even_numbers([2, 4, 6, 8, 10])) # Output: [2, 4, 6, 8, 10]

Write a Python function called merge_lists that takes two lists of integers as input and returns a new list that merges the two input lists while keeping the elements sorted in ascending order.

For example:

- Input: [1, 3, 5, 7], [2, 4, 6, 8]

- Output: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:


# Test cases
print(merge_lists([1, 3, 5, 7], [2, 4, 6, 8]))  # Output: [1, 2, 3, 4, 5, 6, 7, 8]
print(merge_lists([5, 10, 15], [1, 2, 20]))    # Output: [1, 2, 5, 10, 15, 20]
print(merge_lists([1, 1, 1, 1], [2, 2, 2, 2]))  # Output: [1, 1, 1, 1, 2, 2, 2, 2]

Create a list called math_operations that contains the following functions: add, subtract, multiply, and divide. Each function should take two arguments (two numbers) and perform the corresponding mathematical operation.

In [ ]:


math_operations = [add, subtract, multiply, divide]



print(result1)  # Output: 5 (2 + 3)
print(result2)  # Output: 3 (5 - 2)
print(result3)  # Output: 24 (4 * 6)
print(result4)  # Output: 5.0 (10 / 2)

# Tuple

As we mentioned earlier, strings and lists are both examples of sequences. Strings are sequences of characters, and are immutable. Lists are sequences of elements of any data type, and are mutable. The third sequence type is the tuple. Tuples are like lists, since they can contain elements of any data type. But unlike lists, tuples are immutable. They’re specified using parentheses instead of square brackets.

In [190]:
name = ('john', 'steve', 'adam')

In [191]:
type(name)

tuple

In [192]:
def convert_second(seconds):
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) / 60
    remaining_seconds = seconds - hours * 3600 - minutes * 60
    return hours, minutes, remaining_seconds

In [193]:
convert_second(5678561273)

(1577378, 7.883333333333334, 0.0)

In [194]:
animal = ['lion', 'zebra', 'dolphin', 'monkey']

In [195]:
char = 0
for i in animal:
    char += len(i)

In [196]:
char

22

what if you want to access the elements in a list, along with the index of the element in question? You can do this using the enumerate() function. The enumerate() function takes a list as a parameter and returns a tuple for each element in the list. The first value of the tuple is the index and the second value is the element itself.

In [197]:
winner = ['steve', 'ashley', 'john']

In [199]:
for index, person in enumerate(winner):
    print("{} - {}".format(index + 1, person))

1 - steve
2 - ashley
3 - john

Write a function call full_emails that takes list(contains name and email) and then return the list with following format: ['steve < steve@gmail.com >']

In [200]:
people = [('steve', 'steve@gmail.com')]

In [201]:
def full_emails(name):
    result = []
    for name, email in name:
        result.append("{} <{}>".format(name, email))
    return result

In [202]:
full_emails([('steve', 'steve@gmail.com')])

['steve <steve@gmail.com>']

list[start:end:step]

Write a function that can iterate over list element with 2 step

In [203]:
def skip_elements(elements):
    return elements[0::2]

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']

write a block of code that can iterate over number 1 to 10 and then multiply them to 7 and store it to the list

# list comprehension

You can create a list from a sequence using a for loop, but there’s a more streamlined way to do this by using a list comprehension. List comprehensions allow you to create a new list from a sequence or a range in a single line.

write a block of code that can iterate over number 1 to 10 and then multiply them to 2 and store it to the list

In [ ]:
years = ["January 2023", "May 2025", "April 2023", "August 2024", "September 2025", "December 2023"]

In [ ]:
# This list comprehension creates a list of squared numbers (n*n). It
# accepts two integer variables through the function’s parameters.
def squares(start, end):
    
# The list comprehension calculates the square of a variable integer 
# "n", where "n" ranges from the "start" to "end" variables inclusively.
# To be inclusive in a range(), add +1 to the end of range variable.
    return _


print(squares(2, 3))  # Should print [4, 9]
print(squares(1, 5))  # Should print [1, 4, 9, 16, 25]
print(squares(0, 10)) # Should print [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
years = ["January 2023", "May 2025", "April 2023", "August 2024", "September 2025", "December 2023"]

# The list comprehension below creates a new list "updated_years" to
# hold the command to replace the "2023" substring of the "year"
# element with the substring "2024". This action will be executed if
# the last 4 indices of the "year" string is equal to the substring
# "2023". If false (else), the "year" element will be included in the
# new list "updated_years" unchanged.
updated_years = _


print(updated_years)

# Dictionaries

Dictionaries are another data structure in Python. They’re similar to a list in that they can be used to organize data into collections. However, data in a dictionary isn't accessed based on its position. Data in a dictionary is organized into pairs of keys and values. You use the key to access the corresponding value. Where a list index is always a number, a dictionary key can be a different data type, like a string, integer, float, or even tuples.

When creating a dictionary, you use curly brackets: {}

Iterating over the Contents of a Dictionary

In [ ]:
pet_dictionary = {"dogs": ["Yorkie", "Collie", "Bulldog"], 
                  "cats": ["Persian", "Scottish Fold", "Siberian"], 
                  "rabbits": ["Angora", "Holland Lop", "Harlequin"]}

In [ ]:
# This function returns the total time, with minutes represented as 
# decimals (example: 1 hour 30 minutes = 1.5), for all end user time
# spent accessing a server in a given day.
def sum_server_use_time(Server):

    # Initialize the variable as a float data type, which will be used
    # to hold the sum of the total hours and minutes of server usage by
    # end users in a day.
    total_use_time = 0.0

    # Iterate through the "Server" dictionary’s key and value items 
    # using a for loop.
    for _:

        # For each end user key, add the associated time value to the
        # total sum of all end user use time.
        _
        
    # Round the return value and limit to 2 decimal places.
    return round(total_use_time, 2)

FileServer = {"EndUser1": 2.25, "EndUser2": 4.5, "EndUser3": 1, "EndUser4": 3.75, "EndUser5": 0.6, "EndUser6": 8}

print(sum_server_use_time(FileServer)) # Should print 20.1

In [ ]:
print(list_full_names({"Ali": ["Muhammad", "Amir", "Malik"], "Devi": ["Ram", "Amaira"], "Chen": ["Feng", "Li"]}))

In [ ]:
# This function receives a dictionary, which contains resource 
# categories (keys) with a list of available resources (values) for a 
# company’s IT Department. The resources belong to multiple categories.
# The function should reverse the keys and values to show which 
# categories (values) each resource (key) belongs to. 


def invert_resource_dict(resource_dictionary):
  # Initialize a "new_dictionary" variable as a dict data type using
  # empty {} curly brackets.
    new_dictionary = {}
    # The outer for loop iterates through each "resource_group" and 
    # associated "resources" in the "resource_dictionary" items.
    for _:
        # The inner for loop iterates over each "resource" value in 
        # the list of "resources" for one "resource_group" key at a time.
        for _:
            # The if-statement checks if the current "resource" value has 
            # been appended as a key to the "new_dictionary" yet.
            if _:
                # If True, then append the "resource_group" as a value to the
                # "resource", which is now the key.
                _
            # If False (else), then add the "resource" as a new key with the 
            # "resource_group" as a value for that key.
            else:
                _
    # Return the new dictionary once the outer for loop has completed  
    # all iterations.
    return(new_dictionary)


print(invert_resource_dict({"Hard Drives": ["IDE HDDs", "SCSI HDDs"],
        "PC Parts":  ["IDE HDDs", "SCSI HDDs", "High-end video cards", "Basic video cards"], "Video Cards": ["High-end video cards", "Basic video cards"]}))
# Should print {'IDE HDDs': ['Hard Drives', 'PC Parts'], 'SCSI HDDs': ['Hard Drives', 'PC Parts'], 'High-end video cards': ['PC Parts', 'Video Cards'], 'Basic video cards': ['PC Parts', 'Video Cards']}

- Initialize an empty dictionary called new_dictionary.

- The outer for loop iterates through each resource_group and its associated resources in the resource_dictionary items.

- The inner for loop iterates over each resource value in the list of resources for one resource_group key at a time.

- The if-statement checks if the current resource value has been appended as a key to the new_dictionary yet.

- If the resource already exists in new_dictionary, it means this resource belongs to multiple categories. In that case, the function appends the current resource_group as a value to the existing key (resource) in the new_dictionary.

- If the resource does not exist in new_dictionary, it means this is the first time we encountered this resource. In that case, the function adds the resource as a new key to the new_dictionary and sets its value to a list containing the current resource_group.

- The function continues to iterate through all the resource_groups and their associated resources, updating new_dictionary accordingly.

- Finally, the function returns the new_dictionary once the outer for loop has completed all iterations.

Write a Python function called count_characters that takes a string as input and returns a dictionary containing the count of each character (case-insensitive) present in the string. The keys of the dictionary should be the unique characters in the string, and the corresponding values should be the count of each character in the string.

For example:

- Input: "hello"

- Output: {'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:


# Test cases
print(count_characters("hello"))          # Output: {'h': 1, 'e': 1, 'l': 2, 'o': 1}
print(count_characters("Mississippi"))    # Output: {'m': 1, 'i': 4, 's': 4, 'p': 2}
print(count_characters("Python is fun"))  # Output: {'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 2, ' ': 2, 'i': 1, 's': 1, 'f': 1, 'u': 1}